.navbar-brand{
	font-size:1.8em;
}

#topContainer{
	background-image: url("bgimg.jpg");
	height: 400px;
	width: 100%;
	background-size:cover;
}

#topRow{
	margin-top: 100px;
	text-align: center;
}
	#topRow h1{
		font-size:300%;
	}

.margin-top{
	margin-top: 30px;
}

.margin-bottom{
	margin-bottom: 30px;
}

.bold{
	font-weight: bold;
}

.center{
	text-align: center;
}

.title{
	margin-top: 100px;
	font-size: 300%;
}

#footer{
	background-color: #B0D1FB;
	padding-bottom: 50px;
	width:100%;
}

.app-img{
	width:250px;
}
	.app-img:hover{
		cursor: pointer;
	}